/* Home page grid */
.home-wrap {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "greeting"
    "navbuttons";
  justify-content: center;
  align-content: center;
}

.greeting-section {
  grid-area: greeting;
  background: url(what-the-hex-dark.png); 
}

.nav-buttons-section {
  position: relative;
  grid-area: navbuttons;
  background: url(what-the-hex.png);
}



/* About Me grid */
.about-me-wrap {
  display: grid;
  height: 150%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 10% 45% 45%;
  grid-template-areas:
    "header"
    "bio"
    "skillset";
  background: url(background-pattern-dark.png);
}

.about-me-h1 {
  grid-area: header;
}

.bio-div {
  grid-area: bio;
}

.skillsets-div {
  grid-area: skillset;
}