.icon {
  width: 40px;
}

.css {
  width: 30px;
} 

.js {
  width: 40px;
}

.jquery {
  width: 48px;
}

.threejs {
  width: 44px;
}

.jwt {
  height: 20px;
}

.color-icon {
  display: block;
  width: 47px;
  margin: auto;
}

.color-icon.css {
  width: 39px;
}

.color-icon.javascript {
  width: 35px;
}

.color-icon.node {
  width: 100px;
}

.color-icon.mongo {
  width: 68px;
}

.color-icon.express {
  width: 60px;
}

.color-icon.jwt {
  width: 85px;
  height: 65px;
}