@media only screen and (max-height: 510px) {
  .name-p {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 625px) {
  .name-p {
    width: 640px;
    font-size: 32px;
    line-height: 52px;
  }
  .nav-button {
    color: #ffffff;
  }
  /* #threetv, #matcher, #task-timer {
    height: 100%;
    min-height: 740px;
  }  */
  .app-screenshot {
    /* width: 500px; */
  }
  .app-description {
    max-width: 460px;
  }
  .about-me-wrap {
    height: 100%;
    min-height: 720px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 5%;
    grid-template-areas:
      "bio skillset"
      "portfolio-link portflio-link";
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .about-me-h2 {
    text-align: center;
  }
  #contact {
    min-height: 420px;
  }
  .contact-methods-wrap {
    flex-direction: row;
  }
  .contact-page-link {
    margin-top: 200px;
  }
}

@media only screen and (min-width: 1060px) {
  .project-section {
    margin-top: 8%;
  }
  .portfolio {
    height: 100%;
    min-height: 800px;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1260px) {
  .project-section {
    margin-top: 6%;
  }
  .app-description {
    max-width: 500px;
  }
}